@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #fb7185,
    ),
  ),
);

.el-overlay-dialog {
  padding-inline: 10px;
}

.el-dialog--center .el-dialog__body {
  padding-top: 10px;
  padding-bottom: 25px;
}
